<div class="card" style="transform: translate(@(TicketCard.XCoordinate), @(TicketCard.YCoordinate))" draggable="true">
    <div class="card-body">
        <h5 class="card-title">@TicketCard.Task.Name</h5>
        <h6 class="card-subtitle">@TicketCard.Task.TourokuBi</h6>
        <p class="card-text">@TicketCard.Task.Detail</p>
    </div>
</div>