<div class="card" style="transform: translate(@(CardContent.XCoordinate), @(CardContent.YCoordinate))" draggable="true">
    <h3>Card</h3>
    <div class="card-body">
        @*<h5 class="card-title">@CardContent.TaskTicket.Name</h5>
        <h6 class="card-subtitle">@CardContent.TaskTicket.TourokuBi</h6>
        <p class="card-text">@CardContent.TaskTicket.Detail</p>*@
    </div>
</div>